@layer base {
  * {
      margin: 0;
      padding:0;
      box-sizing: border-box;
  }

  html {
      @apply bg-light;
  }

  /* main {
      @apply bg-black;
  } */
  
  html,body, .wrap {
      overflow-x: hidden;
  }
  
  h1, h2,  {
      @apply font-title;
  }

  h3, h4, h5, h6 {
      @apply font-mono;
  }
  
  h1 {
      @apply text-5xl mb-8 font-thin tracking-widest;
  }
  h2 {
      @apply text-4xl font-bold mb-5;
  }
  h3 {
      @apply text-2xl mb-5;
  }
  h4 {
      @apply text-xl mb-5 ;
  }
  h5 {
      @apply text-lg mb-5 ;
  }
  h6 {
      @apply text-lg mb-5;
  }

  p {
      @apply mb-5;
  }

  hr {
    @apply mb-8;
  }

  main a {
    @apply underline;
  }

  main img {
    @apply mb-8 block;
  }

  .accent-line::after {
    content: "";
    transform: translateY(100%);
    height: 1px;
    @apply w-32 bg-dark top-0 block mt-6
  }

  


  
   .container {
      width: 100%;
      max-width: 1200px;
      padding-left: 32px; 
      padding-right: 32px; 
      margin-left: auto;
      margin-right: auto;

      &.--narrow {
        max-width: 800px;
    }
  }

  /* FORMS */

 input, textarea {
    @apply text-dark block mb-4 w-full p-2 border-2 border-dark
  }

  button[type="submit"] {
    @apply py-2 px-8 text-dark uppercase font-bold border-2 border-dark hover:bg-dark hover:text-white
  } 


/* TABLES */
table {
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #ccc;
}
th {
    @apply bg-black text-white;
}
th, td {
    @apply text-left px-2 py-1r;

}

/* BUTTONS */

  .button-primary {
      @apply py-3 px-2r text-white font-light uppercase bg-black text-center tracking-widest;
      margin-top: 32px;
      transition: all 0.5s ease;
      text-decoration: none;

      &:hover {
          background: linear-gradient(45deg, #D5E351 0%, #79CDD2 100%);
          transition: all 0.5s ease;
          @apply text-black;
      }
  }

  .button-pill {
      border-width: 1px;
      text-decoration: none;
      @apply border-black border-solid rounded-2r py-0p5r px-3r inline-block hover:bg-black hover:text-white;
  }

  .pill {
    border-width: 1px;
    text-decoration: none;
    @apply border-dark border-solid rounded-2r py-1 px-2r inline-block ;

    &.active {
        @apply bg-dark text-white
    }
  }

}